.idea
build/*
model
modelHand
modelFoot
parameter_tuning_results.xlsx
modelRISCV
spikeLog.txt
Debugging/difference.txt
Debugging/indexListHDCMatlab.txt
Debugging/indexListHDCMeinCode.txt
modelCustom
changelog.md
INSTRUCTIONS.md
meinTodo.md
