.idea
build/*
model
modelHand
modelFoot
parameter_tuning_results.xlsx
modelRISCV
spikeLog.txt
Debugging/difference.txt
Debugging/indexListHDCMatlab.txt
Debugging/indexListHDCMeinCode.txt
modelCustom
changelog.md
INSTRUCTIONS.md
meinTodo.md
analysis/big_test/intermed_results.csv
analysis/big_test/results.csv
analysis/convergence_test/output.txt
analysis/convergence_test/results.csv
analysis/dimension_test/output.txt
analysis/dimension_test/results.csv
analysis/levels_test/output.txt
analysis/levels_test/results.csv
analysis/ngram_test/output.txt
analysis/ngram_test/results.csv
assocMemPreopt.csv
analysis/item_mem_naive.csv
analysis/item_mem_optimized.csv
analysis/results.csv
analysis/levels_test/results_old.csv
analysis/levels_test/output_old.txt
analysis/vector_analysis/assocMemPostopt.csv
analysis/vector_analysis/item_mem_naive.csv
analysis/vector_analysis/item_mem_optimized.csv
analysis/testConfigs.txt
analysis/output.txt
krischans_model/memoryfiles/value_vectors.txt
krischans_model/memoryfiles/position-vectors.txt
krischans_model/hdc_model.exe
krischans_model/hdc_model
analysis/big_test/plots/comparison_heatmaps.png
analysis/big_test/plots/comparison_winner_counts.png
analysis/big_test/plots/krischanD/accuracy_heatmap_krischan_current_vs_previous.png
analysis/big_test/plots/krischanD/accuracy_heatmaps_krischan_current.png
analysis/big_test/plots/krischanD/accuracy_heatmaps_krischan_previous.png
analysis/big_test/plots/krischanVSadapted/accuracy_heatmaps_krischan.png
analysis/big_test/plots/krischanVSadapted/accuracy_heatmaps_mine.png
analysis/big_test/plots/krischanVSadapted/comparison_heatmaps.png
analysis/big_test/plots/krischanVSadapted/comparison_winner_counts.png
analysis/big_test/plots/krischanVSadapted/results_krischan.csv
analysis/big_test/plots/krischanVSadapted/results_mine.csv
krischans_model/results/repeats_results.csv
analysis/big_test/repeats_results_model.csv
analysis/big_test/comparison_model_vs_krischan.csv
analysis/big_test/output_model.txt
analysis/big_test/__pycache__/plot_krischan_run_comparison.cpython-310.pyc
analysis/big_test/krischan_position_vectors.csv
analysis/big_test/krischan_value_vectors.csv
analysis/big_test/output_krischan_now.txt
analysis/big_test/output_mine_krischan_mem.txt
analysis/big_test/output_ould7.txt
analysis/big_test/results_mine_krischan_mem.csv
